<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-primary fixed-top">
        <div class="container">
            <img src="~/Content/img/1.jpeg" class="navbar-brand rounded-3 me-3" style="width: 5%;" alt="logo"/>
            @Html.ActionLink("Polizia Municipale", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-2">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Altre Operazioni", "AltreOperazioni", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "nav-link" })
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row g-1 text-center">
                <div class="col-2"><p>Credits</p></div>
                <div class="col-2"><p>Note Legali</p></div>
                <div class="col-2"><p>Mappa del Sito</p></div>
                <div class="col-6"><p>&copy; @DateTime.Now.Year Comune di Palermo - Tutti i diritti riservati (E.R.)</p></div>
            </div>
           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
